@using Model.EF;
@model IEnumerable<Model.EF.Product>
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function sort() {
        var sort = document.getElementById("sortSearch");
        var order = document.getElementById("orderSearch");
        var sortValue = sort.options[sort.selectedIndex].value;
        var orderValue = order.options[order.selectedIndex].value;
        var url = window.location.href;
        url = url.split('&')[0];
        window.location.href = url + "&sort=" + sortValue + "&order=" + orderValue;
    }
    function pageClick(page) {
        var sort = document.getElementById("sortSearch");
        var order = document.getElementById("orderSearch");
        var sortValue = sort.options[sort.selectedIndex].value;
        var orderValue = order.options[order.selectedIndex].value;
        var url = window.location.href;
        url = url.split('&')[0];
        window.location.href = url + "&sort=" + sortValue + "&order=" + orderValue + "&page=" + page;
    }
</script>
<h2>Search result</h2>
<div class="sortBar">
    <label>Sort by</label>
    @{
        var sort = 1;
        var order = 1;
        if (TempData["sort"] != null && TempData["order"] != null)
        {
            sort = (int) TempData["sort"];
            order = (int) TempData["order"];
        }
        if (order == 1)
        {
            @Html.DropDownList("Order Type", new SelectListItem[]{
            new SelectListItem() { Text = "Product name", Value = "1" , Selected = true},
            new SelectListItem() { Text = "Price", Value = "2" }},
            new { @id = "orderSearch", @onchange = "sort()" })
        }
        else
        {
            @Html.DropDownList("Order Type", new SelectListItem[]{
            new SelectListItem() { Text = "Product name", Value = "1"},
            new SelectListItem() { Text = "Price", Value = "2" , Selected = true}},
            new { @id = "orderSearch", @onchange = "sort()" })
        }

        if (sort == 1)
        {
            @Html.DropDownList("Sort Type", new SelectListItem[]{
             new SelectListItem() { Text = "Descending", Value = "1"  , Selected = true},
             new SelectListItem() { Text = "Ascending", Value = "2" }},
             new { @id = "sortSearch", @onchange = "sort()" })
        }
        else
        {
            @Html.DropDownList("Sort Type", new SelectListItem[]{
             new SelectListItem() { Text = "Descending", Value = "1" },
             new SelectListItem() { Text = "Ascending", Value = "2"  , Selected = true}},
             new { @id = "sortSearch", @onchange = "sort()" })
        }
    }
</div>
<br />
<p>@TempData["Total"] item were found</p>
<div class="myPagination">
    @for (int i = 1; i <= (int) @TempData["TotalPage"]; i++)
    {
        <a href="#" onclick="pageClick(@i)">@i</a>
    }
</div><br />
<section>
    @foreach (var item in Model)
    {
        <div class="product_box">
            <h3>@item.productName</h3>
            <a href="@Url.Action("DetailProduct", "Home", new { id = @item.productId, name=@item.productName })"><img src=@item.productAva alt="image" /></a>
            <p>@item.description</p>
            <p class="product_price">@item.price</p>
            <a href="shoppingcart.html" class="addtocart"></a>
            @Html.ActionLink(" ", "DetailProduct", "Home", new { id = @item.productId }, new { @class = "detail" })
        </div>
    }
</section>

