
<div id="templatemo_header">
    <div id="site_title"><h1><a href="#">Online Shoes Store</a></h1></div>
        <div id="header_right">
            @if (Session["user_id"] != null && Session["user_name"] != null)
            {
                <h6 style="font-weight:bold;">
                    Hello @Session["user_name"]! You'r having @Session["money"] VND in your account
                </h6>
                <h6>
                    @Html.ActionLink("My Account", "Account", "User") | <a href="#">Recharge</a> | <a href="#">Checkout</a> | @Html.ActionLink("Logout", "Logout", "User")
                </h6>
                <h6>
                    Shopping Cart: <strong>3 items</strong> ( <a href="shoppingcart.html">Show Cart</a> )
                </h6>
            }
            else
            {
                <h5 style="font-weight:bold;">Hello</h5>
                <h6 style="font-weight:bold;">
                    You haven't logged into your account. Please @Html.ActionLink("Login", "Login", "User") or @Html.ActionLink("Register", "Register", "User")
                </h6>
            }
        </div>
    <div class="cleaner"></div>
</div> 