@using ShoesShop.Models;
@model Product

@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var item = Model;
    String status = "Out of stock";
    if (item.IsAvailable)
    {
        status = "In stock";
    }
    String[] datedata = @item.ReleaseDate.ToString().Split(' ');
    String date = datedata[0];
 }

<h1>Product Detail</h1>
<div class="content_half float_l">
    <a rel="lightbox[portfolio]" href=@item.ImgString><img src=@item.ImgString alt="image" /></a>
</div>
<div class="content_half float_r">
    <table>
        <tr>
            <td>Model:</td>
            <td>@item.ProductName</td>
        </tr>
        <tr>
            <td>Manufacturer:</td>
            <td>@item.ManufacturerName</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>@item.CategoryName</td>
        </tr>
        <tr>
            <td>Release Date:</td>
            <td>@date</td>
        </tr>
        <tr>
            <td width="160">Price:</td>
            <td>@item.Price VNĐ</td>
        </tr>
        <tr>
            <td>Availability:</td>
            <td>@status</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" value="1" style="width: 20px; text-align: right" /></td>
        </tr>
    </table>
    <div class="cleaner h20"></div>

    <a href="shoppingcart.html" class="addtocart"></a>

</div>
<div class="cleaner h30"></div>
<h5>Product Introduction</h5>
<p>@item.Introduction</p>
<div class="cleaner h30"></div>
<h5>Product Description</h5>
<p>@item.Description</p>



