@using ShoesShop.Models;
@model List<Product>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div class="product_box">
        <h3>@item.ProductName</h3>
        <a href="@Url.Action("DetailProduct", "Home", new { id = @item.ProductId, name="sdfsadfsadf" })"><img src=@item.ImgString alt="image" /></a>
        <p>@item.Description</p>
        <p class="product_price">@item.Price</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        @Html.ActionLink(" ", "DetailProduct", "Home", new { id = @item.ProductId }, new { @class = "detail" })
    </div>
}



@section banner {
    <div id="slider-wrapper">
        <div id="slider" class="nivoSlider">
            <img src="~/Content/images/slider/02.jpg" alt="" />
            <a href="#"><img src="~/Content/images/slider/01.jpg" alt="" title="This is an example of a caption" /></a>
            <img src="~/Content/images/slider/03.jpg" alt="" />
            <img src="~/Content/images/slider/04.jpg" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
    <script type="text/javascript" src="~/Content/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
    </script>
}