@using PagedList.Mvc;
@model PagedList.IPagedList<Model.EF.Product>
@{
    ViewBag.Title = "Home Page";
}

<section>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount <br/>
    <div class="myPagination">
        @for (int i = 1; i <= @Model.PageCount; i++)
        {
            <a href="/?page=@i">@i</a>
        }
    </div><br/>
</section>
<section>
    @foreach (var item in Model)
    {
        <div class="product_box">
            <h3>@item.productName</h3>
            <a href="@Url.Action("DetailProduct", "Home", new { id = @item.productId, name=@item.productName })"><img src=@item.productAva alt="image" /></a>
            <p>@item.description</p>
            <p class="product_price">@item.price</p>
            <a href="shoppingcart.html" class="addtocart"></a>
            @Html.ActionLink(" ", "DetailProduct", "Home", new { id = @item.productId }, new { @class = "detail" })
        </div>
    }
</section>


@section banner {
    <div id="slider-wrapper">
        <div id="slider" class="nivoSlider">
            <img src="~/Content/images/slider/02.jpg" alt="" />
            <a href="#"><img src="~/Content/images/slider/01.jpg" alt="" title="This is an example of a caption" /></a>
            <img src="~/Content/images/slider/03.jpg" alt="" />
            <img src="~/Content/images/slider/04.jpg" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
    <script type="text/javascript" src="~/Content/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
    </script>
}